body {
    background-color: rgb(29, 29, 44);
    text-align: center;
}

header h1 {
    color: aqua;
    font-weight: 100;
}

header img {
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
}

Header p {
    color: red;
    margin-top: 0;
}

table {
    color: antiquewhite;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

thead {
    font-weight: bold;
}

tbody tr:nth-child(2n+1) {
    background-color: rgb(45, 45, 53);
}

tbody tr:nth-child(2n) {
    background-color: rgb(11, 11, 41);
}

td {
    padding: 5px;
}

.form {
    display: inline-block;
    color: antiquewhite;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    width: 20px;
    margin: 1px;
}

.win {
    background-color: green;

}

.loss {
    background-color: red;
}

.draw {
    background-color: orange;
}

tbody td:first-child {

    color: red
}