body {
    background-color: rgb(204, 204, 204);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    width: 250px;
}

* {
    text-align: center;
}

header nav a {
    display: block;
    text-decoration: none;
    color: rgb(151, 25, 151);
    padding-bottom: 10px;
}


header {
    background-color: white;
    box-shadow: 1px 1px 10px gray;
}

main {
    background-color: white;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
    color: rgb(73, 73, 73);

}

main h1 {
    font-weight: 400;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
}

.first-line {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid rgb(187, 187, 187);
    margin: 0 20px 0 20px;
}

.second-line {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid rgb(187, 187, 187);
    margin: 0 20px 40px 20px;
}

main h3,
p {
    text-align: left;
}

footer p {
    color: rgb(73, 73, 73);
    text-align: center;
}

@media (min-width: 768px) {


    header nav {
        display: flex;
        align-content: center;
    }

    header img {
        width: 150px;
    }

    .flex-screen {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header nav a:first-child {
        padding-right: 30px;
    }

}